# Core Data Science
pandas>=2.0.0
numpy<2.0.0
scikit-learn==1.7.2
matplotlib>=3.8.0

# Engineering & Orchestration
zenml>=0.60.0
mlflow>=2.10.0
dask>=2024.1.0
feature-engine>=1.7.0

# API & UI
fastapi
uvicorn
pydantic
streamlit
pydeck
requests

# Database & Dependencies
sqlalchemy-utils
sqlmodel

passlib
bcrypt==3.2.2
pymysql
cryptography